<!-- include header -->

<form action="" method="post">
	<input type="text" name="name">
	<input type="submit" value="Submit">
</form>

<h2>Hello {{username}}</h2>

<!-- if 1 == 2 -->
	1 equals 1
<!-- else -->
	1 does not equal 2
<!-- endif -->
<br />
 
<!-- include sidebar -->
<!-- include footer -->