@import url('buttons.css');
@import url('forms.css');


/* GLOBAL STYLES */
html,
body
{
	background-color: #34495E;
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	min-height: 100%;
}

.clear
{
	clear: both;
}

a
{
	text-decoration: none;
}

.container
{
	max-width: 1160px;
	min-width: 839px;
	width: 100%;
	margin: 0px auto;
	height: 100%;
}

/* LOCAL STYLES */
.wrapper
{
	padding: 0;
	margin: 0;
	width: 100%; 
	min-height: 100%;
    height: auto !important;
    height: 100%;
}

/* HEADER */

.header
{
	background-color: #2C3E50;
	color: #FFFFFF;
	width: 100%;
	height: 80px;
	position: absolute;
	padding: 0;
	top: 0px;
}

.header .logo
{
	float: left;
	width: 40%;
	margin: 0px;
}

.header .logo h1
{
	font-size: 30px;
	line-height: 15px;
}

.header .logo h1 a
{
	color: #FFFFFF;
}

.header .logo p
{
	font-size: 13px;
	line-height: 10px;
}

.header .search
{
	float: left;
	vertical-align: center;
	margin: 15px 0px;
	width: 35%;
}

.header .search #search-form
{
	vertical-align: center;
}

.header .search #search-form input[type=text]
{
	width: 60%;
}

.header .links
{
	float: right;
	margin: 0px;
	width: 20%;
}

.header .links ul.top-links
{
	list-style: none;
	float: right;
}

.header .links ul.top-links li
{
	float: left;
	margin: 0px 5px;
}

.header .links ul.top-links li a
{
	color: #FFFFFF;
}


/* CONTENT AREA */

.content-wrapper
{
	margin-top: 100px;
	clear: both;
}

.content-wrapper .container
{
	background: rgb(128, 128, 128) transparent;
	background-color: rgba(128, 128, 128,0.25);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19FFFFFF, endColorstr=#19FFFFFF);   
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#19FFFFFF, endColorstr=#19FFFFFF)";
	border-radius: 5px;
}

.content
{
	width: 100%;
	height: 100%;
	padding: 15px;
}

.content .sidebar
{
	float: left;
	background-color: #2C3E50;
	color: #FFFFFF;
	width: 20%;
	padding: 15px;
	border-radius: 5px;
}

.content .sidebar ul.side-links
{
	list-style: none;
	padding: 0;
}

.content .sidebar ul.side-links li
{
	width: 96%;
	vertical-align: center;
	text-align: center;
	margin-bottom: 5px;
}

.content .main-content
{
	float: left;
	width:71.5%;
	margin-left: 10px;
	padding: 15px;
	background-color: #ECF0F1;
	border-radius: 5px;
	height: 100%;
}

.content .main-content .personal-details
{
	float: left;
	width:  100%;
	min-height: 200px;
	padding: 0;
}

.content .main-content .personal-details .details ul
{
	list-style: none;
	float: left;
	padding: 0;
}

.content .main-content .personal-details .details ul li
{
	vertical-align: center;
	line-height: 25px;
}

.content .main-content .personal-details .details ul .bold
{
	font-weight: 700;
}

.content .main-content .personal-details .image
{
	float: right;
	padding: 15px;
}

.content .main-content .table-large table
{
	width: 100%;
	border-spacing: 0;
	border-collapse:collapse;
	border-radius: 5px;
}

.content .main-content .table-large table thead tr 
{
	background-color: #7F8C8D; 
}

.content .main-content .table-large table thead tr th
{
	border: 1px solid #CCCCCC;
	padding: 10px 5px;
	margin: 0;
	min-width: 30%;
}

.content .main-content .table-large table tbody tr.odd
{
	background-color: #FFFFFF;
}

.content .main-content .table-large table tbody tr.even
{
	background-color: #F2F4FA;
}

.content .main-content .table-large table tbody tr:hover
{
	background-color: #E1E7FA;
}

.content .main-content .table-large table td
{
	vertical-align: center;
	text-align: center;
	padding: 10px 5px;
	margin: 0;
	border: 1px solid #CCCCCC;
}


/* FOOTER */
.footer
{
	width: 100%;
	padding: 0;
	text-align: center;
	margin-top: 20px;
	color: #FFFFFF;
}

.footer .copyright:after
{
	content: '©';
}